<section class="couples">
  <img src="/images/{{couple.filename}}" alt="{{couple.description}}">
  <div class="couple-details">
    <h3>{{couple.name}}</h3>
    <p>By: {{couple.couple}}</p>
  </div>
</section>