
  <div class="full-page">
    <div class="navigation-bar">
      <div class="logo">
        <a href="">Project2 heading</a>
      </div>
      <nav>
        <ul id="MenuItems">
          <li><a href="#">home</a></li>
          <li><a href="#">contact</a></li>
          <li><a href="/gallery">
          <button  class='gallery' >View Gallery</button></a></li>
          <li><button class='loginbtn' >login</button></li>
          
        </ul>
      </nav>
    </div>
    <div id="login-form" class="login-page hide">
      <div class="form-box">
        <div class="form">
          <form class="login-form" action="/api/users/login" method="post">
              <h1 class="main-heading">login Form</h1>
           <input type="text" placeholder="example@example.com" name="email" />
            <input type="password" placeholder="password" name="password" />
            <button>LOGIN</button>
            <p class="asking">Not Signed Up? <a href="#">Sign Up</a>
            </p>
          </form> 
          <form class="register-form" action="/api/users" method="post">
            
              <h1 class="main-heading">Register Form</h1>
           
            <input type="text" placeholder="email" name="email" value="" />
            <input type="text" placeholder="name" name="name" value="" />
            <input type="password" placeholder="password" name="password" value="" />
            <button class="register-btn">Register</button>
            <p class="asking">Already Registerd? <a href="#">Login</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <p>John Batista @gmail.com 
      Diamond Williams @gmail.com 
      Shanisha Mitchell @gmail.com 
    </p>
  </footer>
  <script src="/js/script.js"></script>

